* {
	margin: 0;
	padding: 0;
}

.main {
    display: flex; 
    flex-direction: column;
    align-items: center; 
	justify-content: center;
	margin-top: 40px;
}

body {
	background: #e5ffe5;
    font-family: 'Arial', sans-serif;
	letter-spacing: 5px;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
}

.strings {
	position: absolute;
	margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
	height: 240px;
	z-index: 1;
}

.string {
	height: 1px;
	margin-top: 10px;
}
.string:nth-child(2) {height: 2px;}
.string:nth-child(3) {height: 3px;}
.string:nth-child(4) {height: 4px;}
.string:nth-child(5) {height: 5px;}
.string:nth-child(6) {height: 6px;}


