.main {
    display: flex; 
    flex-direction: column;
    align-items: center; 
	justify-content: center;
}

body {
	background-color: #e5ffe5 !important;
	letter-spacing: 4px;
	
}

h1 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px !important;
}

.scaleName {
	font-size: 20px;
}

.strings {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	height: 200px;
	padding: 0 !important;
}




