.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #e5ffe5 !important;
  letter-spacing: 4px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px !important;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.strings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 240px;
  padding: 0 !important;
  margin-top: 80px;
}

.note {
  position: absolute;
  margin-top: -15px;
}
.fretboard-container {
  position: absolute;
  margin-top: 93px;
}
